<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
 <div class="container">
 <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-
 toggle="collapse" data-target="#bs-example-navbar-collapse-1">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
</button>
 <div class="navbar-brand"><%= link_to image_tag('logo.png'), root_path%></div>
 <%= link_to 'GD Pins', root_path, class: 'navbar-brand' %> 
 </div>

 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 <ul class="nav navbar-nav navbar-right">
 <% if user_signed_in? %>
 <li><%= link_to 'Add Pin', new_pin_path %></li>
 <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div class="nav-avatar"><%= image_tag(current_user.profile_pic.url(:thumb)) %> </div></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><%= current_user.name %></li>
                <li><a href="#">Edit Avatar</a></li>
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              </ul>
 </li>
 <% else %>
 <li><%= link_to "Login", new_user_session_path %></li>
 <li><%= link_to "Join", new_user_registration_path %></li>
 <% end %>

 </ul>
 </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
 </nav>


<div class="container">

  <%= flash_messages %>

	<%= yield %>
	
</div>

<script type="text/javascript">
$('document').ready(function() {
  setTimeout(function() {
    $('.alert').slideUp();
  }, 10000);
});
$('.collapse').collapse({
  toggle: false
})
$('.dropdown-toggle').dropdown()

</script>

</body>
</html>
